<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-gb" http-equiv="Content-Language" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>{% block title %}{% endblock %} </title>

    {% block head %} {% endblock head %}
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo"><a href="/">Pointy-Pointy</a></div>
            {% block header %} {% endblock header %}
        </div>
        <div id="main">
            {% block main %} {% endblock main %}
        </div>
        {% block columns %} {% endblock columns %}
        <div id="footer">
            {% block footer %} {% endblock footer %}
        </div>
    </div>
  </body>
</html>
